<form action="/articles/add?id={{data.art._id}}" method="POST" style="margin-top: 6%; border:0px">
<input type="hidden" name="userID" value="{{session.user._id}}">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3 fw-bolder">
            <label for="catName">Choose Catagory:</label>
        </div>
        <div class="col-sm-5">
            <table style="width: 90%;">
                <tr>
                    <td style="width: 60%;"><select name="categoryID"  value="{{data.art.categoryID}}"
                            class="form-select form-control">
                            {{#each data.cats}}
                            <option value="{{_id}}" {{#selected @root.data.art.categoryID _id}} {{/selected}}>
                                {{catName}}</option>
                            {{/each}}
                        </select></td>
                    <td>&nbsp;<a class="btn btn-sm btn-dark" href="/catagories" role="button">+</a></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-2"></div>
    </div>
    </br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3  fw-bolder">
            <label for="heading">Heading :</label>
        </div>
        <div class="col-sm-5">
            <input type="text" id="heading" name="heading" value="{{data.art.heading}}"
                class="form-control form-control-sm" required>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3  fw-bolder">
            <label for="w3review">Article :</label>
        </div>
        <div class="col-sm-5">
            <textarea id="description" name="description" rows="9" value="{{data.art.description}}"
                class="form-control form-control-sm" required>
            {{data.art.description}}
            </textarea>
        </div>
        <div class="col-sm-2"><input type="hidden" id="_id" value="{{data.art._id}}" name="articleID"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-2 d-grid gap-2 d-md-flex justify-content-md-start btn">
            <input type="submit" name="submit" value="Save" class="btn btn-sm btn-dark" style="width: 90px;">
        </div>
</form>
<div class="col-sm-2 d-grid gap-2 d-md-flex justify-content-md-start btn">
    <a class="btn btn-sm btn-dark" href="/articles" role="button" style="width: 90px;">Cancel</a>
</div>
<div class="col-sm-3"></div>